@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding
	box-sizing: border-box;
	font-family: 'Poppins', 'Roboto', sans-serif;
}


body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(images/bg.png);
	background-size: cover;
	background-position: center;
}

.calendar {
	align-items: center;
	background: #fff;
	border-radius: 8px;
	height: auto;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 200px;
	-moz-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
	-webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
}

.calendar .monthName {
	background: #FF6331;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	padding: 5px 10px;
	postition: relative;
}

.calendar .dayName {
	color: #999;
	font-size: 20px;
	font-weight: 300;
	margin-top: 20px;
}

.calendar .dayNumber {
	color: #333;
	font-size: 80px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 0px;
}

.calendar .year {
	color: #999;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 40px;
}

.container {
	margin-bottom: .167em;
	position: absolute;
	bottom: 2.5%;
	left: 37.5%;
	transform: translate(5%, -5%);
	width: 40%;
}

.clock {
	color: #666;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.clock span {
	display: inline-block;
	font-size: 1.25em;
	positions: absolute;
	text-align: center;
}

.clock span::after {
	color: #555;
	font-size: 0.5em;
	position:	relative;
	bottom: -10px;
	left: -28px;
	transform: translateX(-10%);
}

#hrs::after {
	content: 'HOURS';
}

#min::after {
	content: 'MINUTES';
}

#sec::after {
	content: 'SECONDS';
}